# requirements.txt

pandas
numpy
tqdm
scikit-image
opencv-python-headless
torch
torchvision
torchaudio
scikit-learn
albumentations
timm
peft>=0.9.0
accelerate
evaluate
rouge_score
sacrebleu
sentence-transformers
faiss-cpu
huggingface_hub
transformers>=4.38.0
